@keyframes customFadeInUp {
	0% {
		opacity: 0;
		transform: translateY(300px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes customFadeInRight {
	0% {
		opacity: 0;
		transform: translateX(-300px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (min-width: 320px) {
	a {
		user-select: none;
	}

	html {
		min-height: 100vh;
	}

	html, body {
		margin: 0;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 400;
		color: #000;
	}

	button,
	input {
		border-radius: 0;
	}

	button:active, button:hover, button:focus,
	input:active,
	input:hover,
	input:focus {
		outline: 0;
		outline-offset: 0;
	}

	input[type='checkbox'] {
		position: absolute;
		z-index: -1;
		opacity: 0;
		font-size: 14px;
	}

	.wrapper {
		display: flex;
	}

	textarea {
		overflow: hidden;
		resize: none;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		border-radius: 0;
	}

	textarea:focus {
		outline: none;
	}

	.hr {
		position: fixed;
		top: 80px;
		width: 100%;
		height: 2px;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
		z-index: 1;
		transition: top .3s;
	}

	.hr::before {
		content: "";
		display: block;
		position: absolute;
		top: -6px;
		left: 0;
		width: 100%;
		height: 10px;
		background-color: #fff;
	}

	.label-checkbox {
		position: relative;
		margin-right: 100px;
	}

	.label-checkbox:hover {
		cursor: pointer;
	}

	.label-checkbox .input:checked + .square {
		background-color: black;
	}

	.label-checkbox .square {
		display: block;
		width: 16px;
		height: 16px;
		background-color: #C4C4C4;
		position: absolute;
		left: -30px;
		top: 3px;
		border: 1px solid transparent;
		box-sizing: border-box;
	}

	.message-failed-send-form {
		padding-top: 15px;
		font-size: 30px;
		line-height: 34px;
		font-weight: 100;
	}

	.copywriter_mob {
		position: relative;
		padding: 0 0 30px 20px;
		font-size: 18px;
		font-weight: 300;
		//animation: customFadeInUp 1s ease-in-out;
		&::before {
			content: '©';
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
		}
	}


	.copywriter_desk {
		display: none;
	}

	.btn {
		position: relative;
		width: 100%;
		height: 53px;
		margin-top: 50px;
		margin-bottom: 60px;
		text-align: center;
		border: none;
		overflow: hidden;
		font-family: Roboto, sans-serif;
		color: #fff;
		font-size: 18px;
		background-color: #000;
		text-transform: uppercase;
	}

	.btn::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		width: 100%;
		background-color: #d40d74;
		transition: height .3s;
	}

	.btn::after {
		content: 'Отправить';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translate(0, -50%);
		box-sizing: border-box;
	}

	.btn[disabled] {
		opacity: .3;
	}

	.btn[disabled]:hover::before {
		height: 0;
	}
}

@media screen and (min-width: 1600px) {
	.hr {
		top: 153px;
	}

	.message-failed-send-form {
		padding-top: 265px;
		font-size: 60px;
		line-height: 70px;
	}

	.copywriter_mob {
		display: none;
	}

	.copywriter_desk {
		position: relative;
		display: block;
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 21px;
		font-weight: 300;
		padding-left: 20px;
	}

	.copywriter_desk::before {
		content: '©';
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
	}

	.btn {
		width: 248px;
		height: 53px;
		margin-top: 0;
		margin-bottom: 0;
	}

	.btn:hover {
		cursor: pointer;
	}

	.btn:hover::before {
		height: 100%;
	}
}