@media screen and (min-width: 320px) {
.burger {
    position: absolute;
    right: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 36px;
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: #000;
    transform-origin: center;
    transition: background-color .3s, width .3s, transform .3s;
}

.burger_active span {
    background-color: #fff;
}

.burger_active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.burger_active span:nth-child(2) {
    transform: scale(0, 0);
}

.burger_active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}
}

@media screen and (min-width: 1600px) {
.burger {
    display: none;
}
}