@keyframes showShare {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (min-width: 320px) {
	.wrapper-share {
	    position: relative;
	    display: inline-flex;
	}

	.share-btn {
	    margin: 0 10px;
	}

	.share-btn:hover {
	    cursor: pointer;
	}

	.icons-share {
	    position: absolute;
	    z-index: -1;
	    left: 0;
	    bottom: 35px;
	    display: flex;
	    flex-direction: column;
	    padding: 10px;
	    border-radius: 5px;
	    box-sizing: border-box;
	    overflow-x: hidden;
	    opacity: 0;
	    background-color: #fff;
	}

	.icons-share_show {
	    z-index: 1;
	    opacity: 1;
	    animation: ease-in-out 0.3s showShare;
	}

	.icon-share {
	    margin-right: 10px;
	    padding: 5px;
	    font-size: 14px;
	    line-height: 16px;
	    font-weight: 300;
	}

	.icon-share:hover {
	    cursor: pointer;
	}
}

@media screen and (min-width: 1600px) {
	.icons-share {
	    flex-direction: row;
	}
}