@media screen and (min-width: 320px) {
	.filter-panel-overlay {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100vh;
	    background-color: rgba(0, 0, 0, 0.5);
	    z-index: 4;
	    transition: .3s;
	}

	.filter-panel-overlay .wrapper-btn-filter {
	    background-color: #D40D74;
	    bottom: 0;
	}

	.filter-panel-overlay .wrapper-btn-filter .btn-filter-mob__item {
	    background-color: #fff;
	}

	.filter-panel-overlay .wrapper-btn-filter .btn-filter-mob__item:first-child {
	    transform: rotate(45deg) translate(-1px, 1px);
	    transform-origin: 0 0 0;
	    width: 20px;
	}

	.filter-panel-overlay .wrapper-btn-filter .btn-filter-mob__item:nth-child(2) {
	    transform: rotate(-45deg) translate(2px, 9px);
	    transform-origin: 0 0 0;
	    width: 20px;
	}

	.filter-panel-overlay .wrapper-btn-filter .btn-filter-mob__item:nth-child(3) {
	    transform: scale(0);
	}

	.filter-panel {
	    display: block;
	    position: fixed;
	    bottom: -100%;
	    z-index: 1;
	    left: 0;
	    width: 100%;
	    background-color: #D40D74;
	    box-sizing: border-box;
	    overflow: hidden;
	    transition: .3s ease-in-out;
	}

	.filter-panel_show {
	    padding-bottom: 45px;
	    bottom: 0;
	}

	.filter-panel_show .wrapper-sort .button-sort-item {
	    animation: customFadeInUp ease-in-out;
	}

	.wrapper-btn-filter {
	    position: fixed;
	    z-index: 3;
	    bottom: 0;
	    left: 0;
	    background-color: #fff;
	    width: 100%;
	    height: 45px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    transition: .3s ease-in-out;
	}

	.wrapper-btn-filter .btn-filter-mob {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: space-between;
	    height: 22px;
	    width: 22px;
	    padding: 0;
	    border: none;
	    background-color: transparent;
	}

	.wrapper-btn-filter .btn-filter-mob__item {
	    display: block;
	    height: 4px;
	    background-color: #000;
	    transition: 0.3s;
	}

	.wrapper-btn-filter .btn-filter-mob__item:first-child {
	    width: 22px;
	}

	.wrapper-btn-filter .btn-filter-mob__item:nth-child(2) {
	    width: 14px;
	}

	.wrapper-btn-filter .btn-filter-mob__item:nth-child(3) {
	    width: 6px;
	}

	.btn-controls-view {
	    display: none;
	}

	.btn-view {
	    background-color: transparent;
	    border: none;
	    padding: 0;
	    margin-right: 7px;
	    display: inline-block;
	}

	.btn-view:last-child {
	    margin-right: 0;
	}

	.btn-view:hover {
	    cursor: pointer;
	}

	.btn-view:hover rect {
	    transition: 0.3s;
	}

	.btn-view_active svg rect {
	    fill: #000;
	}

	.wrapper-sort {
	    display: flex;
	    position: relative;
	    z-index: 1;
	    flex-direction: column;
	    align-items: flex-start;
	    padding: 30px 0 0 25px;
	}

	.wrapper-sort .button-sort-item {
	    position: relative;
	    padding: 0;
	    margin-bottom: 30px;
	    display: inline-block;
	    border: none;
	    font-family: Roboto, sans-serif;
	    font-size: 18px;
	    background-color: transparent;
	    color: #fff;
	}

	.wrapper-sort .button-sort-item:before {
	    content: '';
	    position: absolute;
	    bottom: -5px;
	    left: 0;
	    width: 0;
	    height: 1px;
	    background-color: #fff;
	    transition: width 0.3s;
	}

	.wrapper-sort .button-sort-item_active:before {
	    content: '';
	    position: absolute;
	    bottom: -5px;
	    left: 0;
	    width: 100%;
	    height: 1px;
	    background-color: #fff;
	}
}

@media screen and (min-width: 1600px) {
	.filter-panel-overlay {
	    background-color: unset;
	    z-index: 0;
	}

	.filter-panel {
	    display: block;
	    top: 159px;
	    bottom: unset;
	    width: 344px;
	    padding-top: 38px;
	    padding-left: 32px;
	    background-color: #fff;
	    z-index: 0;
	}

	.filter-panel_show .wrapper-sort .button-sort-item {
	    animation: none;
	}

	.wrapper-btn-filter {
	    display: none;
	}

	.btn-controls-view {
	    display: block;
	    margin-bottom: 40px;
	}

	.btn-view {
	    background-color: transparent;
	    border: none;
	    padding: 0;
	    margin-right: 7px;
	    display: inline-block;
	}

	.btn-view:last-child {
	    margin-right: 0;
	}

	.btn-view:hover {
	    cursor: pointer;
	}

	.btn-view:hover rect {
	    transition: 0.3s;
	}

	.btn-view_active svg rect {
	    fill: #000;
	}

	.wrapper-sort {
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    padding: 0;
	}

	.wrapper-sort .button-sort-item {
	    position: relative;
	    padding: 0;
	    margin-bottom: 40px;
	    display: inline-block;
	    border: none;
	    color: #000;
	    font-size: 18px;
	    background-color: transparent;
	}

	.wrapper-sort .button-sort-item:before {
	    content: '';
	    position: absolute;
	    bottom: -5px;
	    left: 0;
	    width: 0;
	    height: 1px;
	    background-color: #000;
	    transition: width 0.3s;
	}

	.wrapper-sort .button-sort-item:hover:before {
	    width: 100%;
	}

	.wrapper-sort .button-sort-item:hover {
	    cursor: pointer;
	}

	.wrapper-sort .button-sort-item_active:before {
	    content: '';
	    position: absolute;
	    bottom: -5px;
	    left: 0;
	    width: 100%;
	    height: 1px;
	    background-color: #000;
	}
}