@media screen and (min-width: 320px) {
	.section-title {
	    margin-bottom: 25px;
	    font-size: 30px;
	    font-weight: 200;
	}

	.form-top__header {
	    position: relative;
	    display: block;
	    margin-bottom: 30px;
	    font-size: 18px;
	}

	.form-top__header .message-error {
	    display: none;
	}

	.form-top__header_error .message-error {
	    position: absolute;
	    bottom: -15px;
	    left: 1px;
	    display: block;
	    margin: 0;
	    font-size: 10px;
	    color: #D40D74;
	}

	.wrapper-checkbox {
	    position: relative;
	    display: flex;
	    flex-wrap: wrap;
	    box-sizing: border-box;
	}

	.wrapper-checkbox .message-error {
	    display: none;
	}

	.wrapper-checkbox_error .label-checkbox .square {
	    background-color: transparent;
	    border: 1px solid #D40D74;
	}

	.wrapper-checkbox .label-checkbox {
	    width: calc(50% - 30px);
	    margin-right: 0;
	    margin-bottom: 30px;
	}

	.wrapper-input {
	    display: flex;
	    flex-direction: column;
	}

	.label-input {
	    position: relative;
	}

	.label-input .error-message {
	    display: none;
	}

	.label-input .placeholder {
	    position: absolute;
	    top: 16px;
	    left: 0;
	    font-size: 18px;
	    color: #000;
	    font-weight: 400;
	    transform-origin: 0 0;
	    transition: all .2s ease;
	}

	.label-input .bottom-line {
	    position: absolute;
	    bottom: 31px;
	    left: 0;
	    width: 0;
	    height: 3px;
	    background-color: #000;
	    transition: 0.3s ease;
	}

	.label-input_error .input {
	    border-bottom-color: #D40D74;
	}

	.label-input_error .bottom-line {
	    background-color: #D40D74;
	}

	.label-input_error .error-message {
	    position: absolute;
	    top: 50px;
	    left: 0;
	    display: block;
	    font-size: 10px;
	    color: #D40D74;
	}

	.label-input-text-area .bottom-line {
	    bottom: 35px;
	}

	.input {
	    position: relative;
	    width: 100%;
	    border: none;
	    padding: 12px 0;
	    margin-bottom: 30px;
	    border-bottom: 1px solid black;
	    box-sizing: border-box;
	    font-size: 18px;
	    color: #000;
	    transition: all .15s ease;
	}

	.input::placeholder {
	    color: #000;
	}

	.input:last-child {
	    margin-bottom: 0;
	}

	.input:not(:placeholder-shown) + .placeholder {
	    color: #C4C4C4;
	    transform: translateY(-26px) scale(0.75);
	}

	.input:not(:placeholder-shown) + .placeholder + .bottom-line {
	    width: 100%;
	}

	.input:focus + .placeholder {
	    color: #C4C4C4;
	    transform: translateY(-26px) scale(0.75);
	}

	.input:focus + .placeholder + .bottom-line {
	    width: 100%;
	}

	.bottom-form {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin-top: 20px;
	}

	.bottom-form .btn {
	    margin-left: auto;
	}

	.bottom-form .label-checkbox {
	    margin-bottom: 0;
	}

	.bottom-form .label-checkbox a {
	    position: relative;
	}

	.bottom-form .label-checkbox a::before {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 1px;
	    background-color: #000;
	}

	.bottom-form .label-checkbox .square {
	    top: -1px;
	}

	.bottom-form .label-checkbox_error a {
	    color: #D40D74;
	}

	.bottom-form .label-checkbox_error a::before {
	    background-color: #d40d74;
	}

	.label-checkbox {
	    margin-right: 0;
	    margin-left: 30px;
	    margin-bottom: 35px;
	    font-size: 14px;
	    line-height: 16px;
	}

	.label-checkbox .input {
	    margin-bottom: 0;
	}

	.label-checkbox .square {
	    top: -1px;
	}

	.label-checkbox a {
	    text-decoration: none;
	    color: #000;
	}

	.label-checkbox_error {
	    color: #D40D74;
	}

	.label-checkbox_error .square {
	    background-color: transparent;
	    border: 1px solid #D40D74;
	}

	.success-message {
	    margin: 50px 0;
	    font-weight: 100;
	    font-size: 30px;
	    white-space: unset;
	    line-height: normal;
	}
}

@media screen and (min-width: 1600px) {
	.section-title {
		margin-top: 0;
	    margin-bottom: 64px;
	    max-width: 920px;
	    font-weight: 100;
	    font-size: 60px;
	}

	.form {
	    margin-bottom: 30px;
	}

	.form-top {
	    display: flex;
	    flex-wrap: wrap;
	    margin-bottom: 30px;
	}

	.form-top__header {
	    width: 100%;
	    margin-bottom: 30px;
	}

	.wrapper-checkbox {
	    display: flex;
	    width: 100%;
	}

	.wrapper-checkbox .label-checkbox {
	    font-size: 18px;
	    line-height: 22px;
	    margin-bottom: 0;
	    width: calc(25% - 30px);
	}

	.wrapper-checkbox .label-checkbox .square {
	    top: 2px;
	}

	.wrapper-input {
	    display: flex;
	    flex-direction: column;
	    margin-bottom: 30px;
	}

	.bottom-form {
	    flex-direction: row;
	    align-items: center;
	}

	.success-message {
	    margin-top: 155px;
	    font-size: 60px;
	    line-height: 70px;
	}
}

@media screen and (min-width: 1700px) {
	.form-top {
	    display: flex;
	    flex-wrap: nowrap;
	    margin-bottom: 30px;
	}

	.form-top__header {
	    margin-bottom: 0;
	    margin-right: 20px;
	    width: 25%;
	}

	.wrapper-checkbox {
	    width: auto;
	}

	.wrapper-checkbox .label-checkbox {
	    width: auto;
	    margin-right: 86px;
	}

	.wrapper-checkbox .label-checkbox:last-child {
	    margin-right: 0;
	}
}