@media screen and (min-width: 320px) {
	.form-subscribe__btn {
		 margin-bottom: 0;
		 margin-top: 0;
		 width: 100%;
		 height: 53px;
	 }

	.form-subscribe__btn::after {
		content: 'Подписаться';
	}

	.form-subscribe__bottom {
		display: flex;
		margin-top: 10px;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.form-subscribe__bottom .agree-checkbox {
		margin-bottom: 0;
	}

	.form-subscribe__bottom .label-checkbox_error a {
		color: #d40d74;
	}

	.form-subscribe__title {
		margin-top: 0;
		margin-bottom: 13px;
		font-size: 60px;
		line-height: 70px;
		font-weight: 100;
	}

	.form-subscribe__qualification {
		margin-bottom: 40px;
	}

	.form-subscribe .input {
		margin-bottom: 40px;
	}

	.form-subscribe .label-input {
		position: relative;
	}

	.form-subscribe .label-input .placeholder {
		top: 2px;
	}

	.form-subscribe .label-input .bottom-line {
		bottom: -13px;
	}

	.form-subscribe .label-input .error-message {
		top: 42px;
	}
}

@media screen and (min-width: 1600px) {
	.form-subscribe__btn {
	    width: 190px;
	    height: 53px;
	}

	.form-subscribe__bottom {
	    flex-direction: row;
	}

	.form-subscribe .label-checkbox {
	    margin-right: 15px;
	    margin-left: 30px;
	    margin-bottom: 0;
	    font-size: 14px;
	    line-height: 16px;
	}

	.form-subscribe .label-checkbox .input {
	    margin-bottom: 0;
	}
}