@media screen and (min-width: 320px) {
	.header {
	    position: fixed;
	    z-index: 4;
	    top: 0;
		left: 0;
	    display: flex;
	    width: 100%;
	    padding: 21px 0 21px 30px;
	    align-items: center;
	    box-sizing: border-box;
	    background-color: #fff;
	    transition: height .3s;
	}

	.logo-collapse {
		display: none;
	}

	.logo {
	    z-index: 1;
	    display: block;
		.logo-big {
			display: none;
		}
		.logo-mobile {
			display: block;
			width: 114px;
			path {
				fill: #000;
				transition: fill .3s;
				&:first-child {
					fill: #d40d74;
				}
			}
		}
	}

	.navigation {
	    display: flex;
	    flex-direction: column;
	    margin-top: 138px;
	    margin-bottom: 115px;
		.link {
			position: relative;
			padding-bottom: 20px;
			font-size: 18px;
			color: #fff;
			text-decoration: none;
		}
	}

	.wrapper-contacts {
	    display: flex;
	    flex-direction: column;
	}

	.wrapper-contacts {
		.contact-item {
			display: flex;
			align-items: center;
			font-size: 18px;
			line-height: 21px;
			color: #000;
			text-decoration: none;
			&__svg {
				display: inline-block;
				padding: 0 16px;
			}
		}
	}

	.wrapper-mobile-menu {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate3d(100%, 0, 0);
		display: flex;
		flex-direction: column;
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;
		height: calc(var(--vh, 1vh) * 100);
		background-color: #D40D74;
		box-sizing: border-box;
		transition: left .3s, transform .3s;
		.navigation {
			display: flex;
			flex-direction: column;
			margin-top: 118px;
			margin-bottom: auto;
			font-weight: normal;
		}
		.wrapper-contacts {
			display: flex;
			flex-direction: column;
			.contact-item {
				display: flex;
				align-items: center;
				margin-bottom: 25px;
				font-size: 18px;
				color: #fff;
				text-decoration: none;
				&__svg {
					display: inline-block;
					padding: 0 16px 0 0;
				}
				&:first-child {
					order: 2;
					path {
						&:last-child {
							fill: #d40d74;
						}
					}
					rect {
						fill: #fff;
					}
				}
				&:last-child {
					path {
						fill: #fff;
					}
				}
			}
		}

		.social-links {
			margin-top: auto;
			margin-bottom: 30px;
		}

		.icon-link {
			margin-right: 16px;
			&:first-child {
				svg {
					circle {
						stroke: #fff;
					}
					ellipse {
						fill: #fff;
					}
					path {
						stroke: #fff;
					}
				}
			}
			svg {
				path {
					fill: #fff;
				}
				rect {
					stroke: #fff;
				}
			}
		}
	}

	.header_open-menu {
		.wrapper-mobile-menu {
			transform: translate3d(0, 0, 0);
		}
		.logo {
			.logo-mobile {
				path {
					fill: #fff;
				}
			}
		}
	}

	.wrapper-desktop-menu {
	    display: none;
	}
}

@media screen and (min-width: 1600px) {
	.wrapper-mobile-menu {
	    display: none;
	}

	.header_index-page .logo,
	.header_index-page .link,
	.header_index-page .contact-item {
	    animation: customFadeInUp 1s ease-in-out;
	}

	.header {
	    height: 159px;
	    padding: 40px 32px;
	    overflow-y: hidden;
	}

	.logo {
	    z-index: 1;
	    display: block;
	    padding-left: 0;
	    flex-basis: unset;
	}

	.logo .logo-big {
	    display: block;
	}

	.logo .logo-mobile {
	    display: none;
	}

	.wrapper-desktop-menu {
	    display: flex;
	    flex-basis: 100%;
		margin-left: calc(20.4% - 232px);
	}

	.navigation {
	    flex-direction: row;
	    margin: 0;
	}

	.navigation .link {
	    padding-bottom: 0;
	    margin-right: 90px;
	    color: #000;
		&:last-child {
			margin-left: calc(100% / 12);
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 0;
			height: 1px;
			background-color: #000;
			transition: width .3s;
		}
		&_active::before {
			width: 100%;
		}
		&:hover::before {
			width: 100%;
		}
	}

	.wrapper-contacts {
	    flex-basis: 100%;
	    justify-content: flex-end;
	    flex-direction: row;
		.contact-item {
			margin-left: calc(100% / 12);
			transition: color .3s;
			rect,
			path {
				transition: fill .3s;
			}
			&:hover {
				color: #d40d74;
				rect {
					fill: #d40d74;
				}

			}
			&:last-child:hover {
				path {
					fill: #d40d74;
				}
			}
		}
	}

	.collapse-header {
		.header {
			height: 72px;
			padding: 20px 32px;
		}
		.hr {
			top: 66px;
		}
		.filter-panel {
			top: 72px;
		}
		.logo {
			width: 66px;
			.logo-big {
				display: none;
			}
		}
		.logo-collapse {
			display: block;
			width: 100%;
		}
		.wrapper-desktop-menu {
			margin-left: calc(20.4% - 84px);
		}
	}
}