@media screen and (min-width: 1600px) {
    .slider {
        overflow: hidden;
        position: relative;
        display: block;
        min-height: calc(100vh - 159px);
        &__list {
            min-height: inherit;
            transition: ease-in-out;
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
        &__leaf {
            min-height: inherit;
            float: left;
            & > * {
                width: 100%;
                display: block;
                min-height: inherit;
            }
        }
        &__btn {
            position: absolute;
            top: 50%;
            padding: 20px;
            background: #d35400;
            color: #fff;
            font-size: 40px;
            box-sizing: border-box;
            transform: translate(0, -50%);
            border: none;
            z-index: 1;
            &:hover {
                cursor: pointer;
            }
            &-next {
                right: 0;
            }
            &-prev {
                left: 0;
            }
            &[disabled] {
                background: darken(#d35400, 20%);
                opacity: .4;
            }
        }
    }
}