@media screen and (min-width: 320px) {
	.social-links {
		display: none;
		animation: customFadeInUp 1.5s ease-in-out;
	}
}

@media screen and (min-width: 1600px) {
	.social-links {
		position: fixed;
		bottom: 32px;
		right: 32px;
		display: flex;
		.icon-link {
			margin-left: 11px;
			&:first-child {
				margin-left: 0;
			}
			rect {
				transition: stroke .3s;
			}
			path, ellipse {
				transition: fill .3s;
			}
			circle {
				transition: stroke .3s;
			}
			&:hover {
				rect {
					stroke: #d40d74;
				}
				path, ellipse {
					fill: #d40d74;
				}
				circle {
					stroke: #d40d74;
				}
			}
		}
	}
}