@media screen and (min-width: 320px) {
	.page-contacts {
		display: flex;
		padding-top: 85px;
	    position: relative;
		box-sizing: border-box;
		min-height: calc(var(--vh, 1vh) * 100);
		.copywriter_mob {
			margin-top: auto;
		}
		.wrapper {
			flex-direction: column;
			padding: 0 25px 0 30px;
			width: 100%;
		}
		.right-col {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}
		.building {
			font-size: 24px;
			margin-bottom: 20px;
		}
		.address {
			margin-bottom: 40px;
			font-size: 24px;
			font-weight: 300;
			white-space: pre-wrap;
			line-height: 35px;
		}
		.mail,
		.tel {
			font-size: 30px;
			font-weight: bold;
			color: #000;
			text-decoration: none;
			margin-bottom: 15px;
		}
		.tel {
			margin-bottom: 40px;
		}
		.social-links {
			margin-bottom: 30px;
			.icon-link {
				margin-left: 11px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}

@media screen and (min-width: 1600px) {
	.page-contacts {
		padding-top: 159px;
		box-sizing: border-box;
		.wrapper {
			padding-top: 69px;
			flex-direction: row;
		}
		.left-col {
			display: flex;
			flex-direction: column;
			max-width: 1200px;
			width: 1200px;
			margin-right: 165px;
			margin-left: 15%;
		}
		.right-col {
			margin-top: 207px;
			margin-right: 165px;
			display: flex;
			flex-direction: column;
			.mail,
			.tel {
				font-size: 30px;
				font-weight: bold;
				color: #000;
				text-decoration: none;
			}
			.mail {
				margin-bottom: 15px;
			}
			.tel {
				margin-bottom: 40px;
			}
			.social-links {
				position: static;
				animation: none;
				a {
					margin-left: 14px;
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
		.building {
			margin-bottom: 15px;
			font-size: 24px;
		}
		.address {
			margin-bottom: 40px;
			font-size: 24px;
			font-weight: 300;
			white-space: pre-wrap;
		}
		.map-col {
			position: relative;
			width: 81px;
			margin-left: auto;
			background-color: #ccc;
			.collapse-btn {
				position: absolute;
				left: -22px;
				top: 50%;
				transform: translate(0, -50%);
				width: 44px;
				height: 44px;
				background-color: black;
				border-radius: 50%;
				&:hover {
					cursor: pointer;
				}
				svg {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: inline-block;
					path {
						stroke: white;
					}
				}
			}
		}
		.copywriter_desk {
			margin-top: auto;
		}
	}
}