@media screen and (min-width: 320px) {
	.page-error {
		display: flex;
		flex-direction: column;
		min-height: calc(var(--vh, 1vh) * 100);
		padding-top: 85px;
		box-sizing: border-box;
	}
	.error-contents {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding-top: 87px;
		min-height: calc(var(--vh, 1vh) * 100 - 85px);
		box-sizing: border-box;
		.error-title {
			margin: 0 0 15px 0;
			padding-left: 30px;
			padding-right: 25px;
			font-size: 40px;
			font-weight: 700;
		}
		.error-subtitle {
			margin-top: 0;
			padding-left: 30px;
			padding-right: 25px;
			font-size: 24px;
			font-weight: 200;
			white-space: pre-wrap;
			a {
				position: relative;
				display: inline-block;
				text-decoration: none;
				color: #D40D74;
				&::after {
					content: '';
					position: absolute;
					bottom: 1px;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: #D40D74;
				}
			}
		}
		.copywriter {
			position: relative;
			margin-top: auto;
			margin-bottom: 20px;
			padding-left: 50px;
			font-weight: 300;
			font-size: 18px;
			white-space: pre-wrap;
			&::after {
				content: '©';
				position: absolute;
				top: 0;
				left: 30px;
				display: block;
			}
		}
	}

}

@media screen and (min-width: 1600px) {
	.page-error {
		padding-top: 159px;
	}
	.error-contents {
		min-height: calc(var(--vh, 1vh) * 100 - 159px);
		.error-title {
			font-size: 80px;
			padding-left: 0;
			margin-left: calc(20.4% - 23px);
		}
		.error-subtitle {
			padding-left: 0;
			margin-left: calc(20.4% - 23px);
			font-size: 60px;
			a::after {
				bottom: 7px;
			}
		}
		.copywriter {
			padding-left: 20px;
			margin-left: calc(20.4% - 23px);
			white-space: unset;
			&::after {
				left: 0;
			}
		}
	}
}