@media screen and (min-width: 320px) {
	.page-index {
		padding-left: 32px;
		padding-right: 32px;
		box-sizing: border-box;
		min-height: calc(var(--vh, 1vh) * 100);
		.container {
			min-height: calc(var(--vh, 1vh) * 100);
			padding-top: 120px;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
		}
		.wrapper-text {
			overflow-y: hidden;
		}
		.title-header {
			margin: 0;
			font-weight: 100;
			font-size: 30px;
			white-space: pre-wrap;
			animation: customFadeInUp 1s ease-in-out;
			&_sub {
				font-weight: 700;
				font-size: 21px;
				white-space: pre-wrap;
				animation: customFadeInUp 1.5s ease-in-out;
				overflow-y: hidden;
			}
		}
		.wrapper-statistics {
			display: flex;
			margin-top: auto;
			margin-bottom: 30px;
			overflow-y: hidden;
			.statistic-item {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				margin-right: auto;
				animation: customFadeInUp 1.5s ease-in-out;
				&__count {
					font-weight: 100;
					font-size: 48px;
					color: #D40D74;
				}
				&__text {
					font-weight: 400;
					font-size: 14px;
				}
			}
		}
		.wrapper-mobile-menu {
			.social-links {
				display: flex;
			}
		}
	}
}

@media screen and (min-width: 1600px) {
	.page-index {
		padding: 0;
		margin-bottom: -30px;
		.title-header {
			margin: calc(var(--vh, 1vh) * 15) 0 0 0;
			font-size: 72px;
			&_sub {
				font-size: 44px;
			}
		}
		.container {
			margin-left: 19.4%;
			box-sizing: border-box;
		}
		.wrapper-statistics {
			.statistic-item {
				&:first-child {
					margin-right: 210px;
				}
				&__count {
					font-size: 64px;
				}
				&__text {
					font-size: 18px;
				}
			}
		}
	}
}