@media screen and (min-width: 320px) {
	.page-article {
	    margin-top: 85px;
	    padding-left: 30px;
	    padding-right: 25px;
	}

	.page-article img {
	    display: block;
	    width: 100%;
	}

	.page-article .date {
	    padding-top: 22px;
	    font-size: 14px;
	    line-height: 16px;
	    font-weight: 300;
	}

	.page-article .title {
	    margin-top: 15px;
	    font-size: 18px;
	    font-weight: 700;
	    line-height: 21px;
	}

	.page-article .additional-information-top {
	    display: flex;
	    align-items: center;
	    font-weight: 300;
	    font-size: 14px;
	    line-height: 16px;
	}

	.page-article .time {
	    display: flex;
	    align-items: center;
	}

	.page-article .time svg {
	    margin-right: 14px;
	}

	.page-article .category {
	    position: relative;
	    padding-left: 32px;
	}

	.page-article .category::after {
	    position: absolute;
	    left: 16px;
	    top: -1px;
	    content: '';
	    display: block;
	    height: 110%;
	    width: 1px;
	    background-color: #000;
	}

	.page-article .paragraph {
	    margin: 30px 0;
	    font-size: 14px;
	    line-height: 16px;
	    font-weight: 400;
	}

	.page-article h4 {
	    font-weight: 300;
	    font-size: 18px;
	    line-height: 21px;
	    margin-bottom: 30px;
	    margin-top: 40px;
	}

	.page-article .download {
	    display: block;
	    width: 100%;
	    padding: 16px 10px;
	    margin-bottom: 34px;
	    background-color: #000;
	    text-decoration: none;
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: 400;
	    font-size: 18px;
	    line-height: 21px;
	    color: #fff;
	    box-sizing: border-box;
	}

	.page-article .additional-information-bottom {
	    position: relative;
	    display: flex;
	    margin-bottom: 40px;
	}

	.page-article .all-articles {
	    display: flex;
	    align-items: center;
	    font-size: 14px;
	    line-height: 16px;
	    font-weight: 300;
	    color: #000;
	}

	.page-article .all-articles svg {
	    margin-right: 12px;
	}

	.page-article .count-like {
	    display: flex;
	    align-items: center;
	    margin-left: auto;
	    margin-right: 10px;
	}

	.page-article .count-like svg {
	    margin-right: 10px;
	}

	.page-article .icons-share {
	    left: unset;
	    right: 0;
	    bottom: 40px;
	}

	.page-article .wrapper {
	    flex-direction: column;
	}

	.page-article .form-subscribe {
	    margin-bottom: 55px;
	}

	.page-article .form-subscribe__title {
	    margin: 20px 0;
	    font-weight: 100;
	    font-size: 24px;
	    line-height: 28px;
	}

	.page-article .form-subscribe__qualification {
	    margin-bottom: 30px;
	    font-size: 14px;
	    line-height: 16px;
	}
}

@media screen and (min-width: 1600px) {
	.page-article {
	    padding: 0;
	    margin: 159px auto 0 auto;
	    max-width: 1232px;
	}

	.page-article .date {
	    padding-top: 60px;
	    font-size: 18px;
	}

	.page-article .title {
	    font-size: 36px;
	    line-height: 42px;
	}

	.page-article .additional-information-top {
	    margin-bottom: 90px;
	    font-size: 18px;
	    line-height: 21px;
	}

	.page-article .paragraph {
	    margin: 50px 0;
	    font-size: 18px;
	    line-height: 21px;
	}

	.page-article h4 {
	    font-size: 36px;
	    line-height: 42px;
	}

	.page-article .download {
	    display: inline-block;
	    width: auto;
	    padding: 20px 50px;
	    margin-bottom: 0;
	    margin-right: auto;
	    font-size: 18px;
	    line-height: 21px;
	    transition: background-color 0.3s;
	}

	.page-article .download:hover {
	    cursor: pointer;
	    background-color: #D40D74;
	}

	.page-article .additional-information-bottom {
	    display: inline-flex;
	    margin-bottom: 0;
	}

	.page-article .wrapper {
	    flex-direction: row;
	    align-items: center;
	    margin-bottom: 145px;
	}

	.page-article .all-articles {
	    margin-right: 50px;
	    font-size: 14px;
	    line-height: 16px;
	}

	.page-article .count-like {
	    margin-right: 30px;
	    font-size: 14px;
	    line-height: 16px;
	}

	.page-article .wrapper-share {
	    align-items: center;
	}

	.page-article .share-btn {
	    margin: 0;
	}

	.page-article .share-btn:hover {
	    cursor: unset;
	}

	.page-article .icons-share {
	    position: relative;
	    bottom: unset;
	    z-index: 0;
	    opacity: 1;
	    padding: 0;
	    border-radius: 0;
	}

	.page-article .icons-share_show {
	    animation: unset;
	}

	.page-article .icon-share {
	    padding: 0;
	    margin-left: 20px;
	}

	.page-article .copywriter_desk {
	    display: none;
	}

	.page-article .form-subscribe__title {
	    margin-top: 0;
	    font-size: 60px;
	    line-height: 70px;
	}

	.page-article .form-subscribe__qualification {
	    font-size: 18px;
	    line-height: 21px;
	}

	.page-article .form-subscribe__btn {
	    padding: 20px 50px;
	}
}