@media screen and (min-width: 320px) {
	.blog-page {
	    margin-top: 85px;
	    padding: 25px 25px 45px 30px;
	    box-sizing: border-box;
	}

	.blog-page .form-subscribe {
	    display: none;
	}

	.wrapper-content .intro {
	    margin-bottom: 50px;
	}

	.wrapper-content .intro__title {
	    margin-top: 0;
	    margin-bottom: 15px;
	    font-weight: 100;
	    font-size: 24px;
	}

	.wrapper-content .intro__description {
	    font-size: 14px;
	    line-height: 16px;
	}

	.wrapper-content .success-message {
	    margin: 50px 0 50px auto;
	    width: calc(50% - 87px);
	}

	.container-articles {
	    width: 100%;
	    display: grid;
	    grid-row-gap: 1px;
	    grid-template-columns: 1fr;
	    grid-auto-rows: 20px;
	}

	.container-articles .article__date {
	    margin-bottom: 10px;
	    font-size: 14px;
	    font-weight: 300;
	    line-height: 16px;
	}

	.container-articles .article__title {
	    margin-bottom: 15px;
	    font-size: 18px;
	    font-weight: 700;
	    line-height: 21px;
	}

	.container-articles .article__picture {
	    display: block;
	    width: 100%;
	    transition: transform .3s;
	}

	.container-articles .article__additional-information {
	    display: flex;
	    align-items: center;
	    padding-bottom: 40px;
	}

	.container-articles .article__additional-information .count-like {
	    display: flex;
	    align-items: center;
	    font-size: 12px;
	    font-weight: 300;
	    line-height: 14px;
	}

	.container-articles .article__additional-information .count-like svg {
	    margin-right: 10px;
	}

	.container-articles .article__additional-information .share {
	    margin-left: 15px;
	}

	.container-articles .article__additional-information .category {
	    margin-left: auto;
	    font-size: 12px;
	    font-weight: 300;
	    line-height: 14px;
	}

	.container-articles .article .wrapper-img {
	    overflow: hidden;
	    margin-bottom: 15px;
	}

	.container-articles .article .wrapper-img:hover .article__picture {
	    transform: scale(1.05);
	}

	.container-articles .article .content {
	    display: block;
	    color: #000;
	    text-decoration: none;
	}
}

@media screen and (min-width: 1600px) {
	.blog-page {
	    margin: 159px 0 0 0;
	    padding: 58px 188px 0 344px;
	}

	.blog-page .form-subscribe {
	    display: block;
	    width: calc(50% - 87px);
	    margin-left: auto;
	}

	.blog-page .form-subscribe__qualification {
	    margin-bottom: 20px;
	}

	.blog-page .filter-panel {
	    padding-top: 70px;
	}

	.blog-page .wrapper-content {
	    display: flex;
	    flex-wrap: wrap;
	}

	.blog-page .wrapper-content .intro {
	    width: calc(50% - 78px);
	}

	.blog-page .wrapper-content .intro__title {
	    font-size: 60px;
	    line-height: 70px;
	}

	.blog-page .wrapper-content .intro__description {
	    margin-top: 0;
	    font-size: 18px;
	    line-height: 21px;
	}

	.blog-page .wrapper-content .message-failed-send-form {
	    width: calc(50% - 87px);
	    margin-left: auto;
	    margin-top: 0;
	    padding-top: 0;
	    font-size: 60px;
	    line-height: 70px;
	}

	.blog-page .container-articles {
	    grid-column-gap: 172px;
	    grid-template-columns: repeat(2, 1fr);
	    margin-top: 100px;
	}

	.blog-page .container-articles .article__date {
	    margin-bottom: 20px;
	    font-size: 18px;
	    line-height: 21px;
	}

	.blog-page .container-articles .article__title {
	    margin-bottom: 20px;
	    font-size: 24px;
	    line-height: 28px;
	}

	.blog-page .container-articles .article__additional-information {
	    padding-bottom: 100px;
	}
}