@media screen and (min-width: 320px) {
	@keyframes animation-change-project {
		0% {
			transform: translate3d(0, 100px, 0);
			opacity: 0;
		}

		100% {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	.change-project {
		animation: animation-change-project 1s ease-in-out;
	}

	.page-project {
		position: relative;
		padding-top: 85px;
		box-sizing: border-box;
		min-height: calc(var(--vh, 1vh) * 100);
		.desktop-content {
			display: none;
		}
		.mobile-content {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto  auto auto;
			grid-template-areas: 'project-title' 'short-info' 'info' 'img';
			padding: 27px 25px 0 30px;
			.project-title {
				grid-area: project-title;
			}
		}
		.short-info {
			grid-area: short-info;
			padding-left: 25px;
			.client {
				margin-bottom: 8px;
				font-size: 14px;
				font-weight: 400;
			}
			.client-name {
				margin-bottom: 24px;
				white-space: pre-wrap;
				font-size: 14px;
				font-weight: 300;
			}
			.made-title {
				margin-bottom: 8px;
				font-size: 14px;
				font-weight: 400;
			}
			.made-list {
				margin: 0 0 20px 0;
				padding: 0;
				font-size: 14px;
				font-weight: 300;
				list-style-type: none;
			}
			.date {
				margin-bottom: 25px;
				font-size: 14px;
				font-weight: 400;
			}
		}
		.info {
			grid-area: info;
			margin-left: 0;
			margin-top: 0;
			padding-bottom: 50px;
			.made-detail-list {
				margin: 0;
				padding: 0;
				li {
					padding-bottom: 5px;
					list-style-type: none;
					font-size: 14px;
					font-weight: normal;
				}
				a {
					text-decoration: none;
				}
			}
		}
		.project-title {
			position: relative;
			margin: 0 0 70px 0;
			font-size: 14px;
			font-weight: normal;
			white-space: pre-wrap;
		}
		.wrapper-img-project {
			grid-area: img;
			position: relative;
			.wrapper-btn {
				display: flex;
				justify-content: space-between;
				margin-top: 35px;
				padding: 0 32px;
				.btn-project {
					display: flex;
					align-items: center;
					text-decoration: none;
					padding: 0;
					font-size: 14px;
					background-color: transparent;
					color: #000;
					border: none;
					&:first-child {
						margin-left: 0;
					}
				}
				.btn-prev svg {
					margin-right: 10px;
				}
				.btn-next svg {
					margin-left: 10px;
				}
				&_first-project {
					justify-content: flex-end;
				}
			}
		}
		.btn-info-more {
			position: absolute;
			bottom: -40px;
			left: 0;
			border: none;
			padding: 0;
			background-color: transparent;
			font-family: Roboto, sans-serif;
			&__icon {
				display: flex;
				align-items: center;
				font-size: 14px;
				svg {
					margin-right: 8px;
					circle {
						transition: fill .3s;
					}
				}
			}
		}
		&_show-info {
			grid-template-areas: 'short-info' 'info' 'img';
			.btn-info-more svg circle {
				fill: #D40D74;
			}
		}
	}

	.project-img-full {
		display: block;
		width: 100%;
	}

	.wrapper-form-project {
		margin-top: 40px;
		padding-left: 32px;
		padding-right: 32px;
		.message-failed-send-form {
			padding-top: 30px;
		}
	}
}

@media screen and (min-width: 1600px) {
	.btn-info-more {
		display: none;
	}

	.page-project {
		padding-top: 159px;
		.desktop-content {
			padding-left: 88px;
			padding-top: 59px;
			display: grid;
			grid-template-columns: 278px 978px;
			grid-template-rows: auto auto;
			grid-template-areas: 'short-info info' 'img img';
			grid-column-gap: 5px;
			box-sizing: border-box;
			.project-title {
				display: none;
			}
			.info {
				.project-title {
					display: block;
					font-size: 36px;
					line-height: 42px;
				}
				.made-detail-list {
					display: block;
					li {
						font-size: 18px;
						padding-bottom: 8px;
					}
				}
			}
			.short-info {
				.client {
					margin-bottom: 15px;
					font-size: 18px;
					line-height: 21px;
					font-weight: 400;
				}
				.client-name {
					font-size: 18px;
					line-height: 21px;
					font-weight: 300;
				}
				.made-title {
					margin-bottom: 15px;
					font-size: 18px;
					line-height: 21px;
				}
				.made-list {
					font-size: 18px;
					line-height: 21px;
				}
				.date {
					margin-bottom: 15px;
					font-size: 18px;
					line-height: 21px;
				}
			}
		}
		.mobile-content {
			display: none;
		}
		.wrapper-img-project {
			grid-area: img;
			margin-top: 100px;
			position: relative;
			.wrapper-btn {
				display: block;
				position: absolute;
				bottom: -60px;
				right: 32px;
				margin-top: 0;
				padding: 0;
				.btn-project {
					display: inline-block;
					text-decoration: none;
					padding: 0;
					margin-left: 45px;
					font-size: 18px;
					font-weight: normal;
					background-color: transparent;
					color: #000;
					border: none;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
		.short-info {
			padding-left: 0;
			padding-right: 15px;
		}
	}
	.wrapper-form-project {
		margin-left: 341px;
		margin-top: 100px;
		width: 64%;
		.form {
			margin-bottom: 70px;
		}
	}
}