@keyframes fadeTextProjectCart {
    0% {
        transform: translate(150px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@media screen and (min-width: 320px) {
    .page-projects {
	    padding-top: 85px;
	    padding-bottom: 45px;
        position: relative;
	    overflow-y: hidden;
	    box-sizing: border-box;
	    .preloader {
		    img {
			    width: auto;
		    }
	    }
    }
    .wrapper-cart-project {
        display: flex;
        flex-direction: column;
	    img {
		    display: block;
		    width: 100%;
	    }
	    &_tile {
		    display: block;
		    margin-right: -32px;
		    .wrap-cart {
			    position: relative;
			    margin: 0;
		    }
		    .header-cart,
		    .description-cart {
			    position: absolute;
			    left: 64px;
			    font-size: 30px;
		    }
		    .header-cart {
			    bottom: 122px;
		    }
		    .description-cart {
			    bottom: 25px;
		    }
	    }
    }
    .wrap-cart {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        box-sizing: border-box;
        text-decoration: none;
        color: #000;
        -webkit-user-select: none;
        user-select: none;
	    .header-cart {
		    margin-bottom: 13px;
		    padding: 0 32px;
		    font-size: 18px;
		    font-weight: 700;
	    }
	    .description-cart {
		    padding: 0 32px;
		    margin: 0;
		    font-size: 14px;
		    font-weight: 300;
	    }
    }
}

@media screen and (min-width: 1600px) {
	.page-projects {
		padding-bottom: 0;
		padding-top: 159px;
	}

    .content-projects {
        position: relative;
        padding-left: 32px;
        padding-right: 32px;
        overflow-y: hidden;
    }

    .wrapper-cart-project {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 1;
        margin-left: 344px;
	    margin-right: -32px;
    }

    .wrap-cart {
        width: calc(50% - 8px);
        display: block;
        margin-right: 16px;
        margin-bottom: 44px;
        box-sizing: border-box;
        text-decoration: none;
        color: #000;
        .header-cart {
            padding-left: 0;
            font-size: 24px;
            font-weight: 700;
        }
        .description-cart {
            padding-left: 0;
            font-size: 18px;
            font-weight: 300;
            white-space: pre-wrap;
        }
        .wrapper-img {
            overflow: hidden;
        }
        img {
            display: block;
            width: 100%;
            transition: transform 0.3s;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:hover {
            cursor: pointer;
        }
        &:hover img {
            transform: scale(1.03);
        }
    }

    .wrapper-cart-project_tile {
        display: block;
        height: 100%;
        .wrap-cart {
            width: unset;
            background-size: cover;
            background-position: center center;
            img {
                display: none;
            }
        }
        .wrapper-text {
            position: absolute;
            bottom: 55px;
            left: 55px;
            width: 70%;
        }
		.slider__leaf_active {
			.header-cart {
				animation: fadeTextProjectCart 1.2s ease-in-out;
			}
			.description-cart {
				animation: fadeTextProjectCart 1.3s ease-in-out;
			}
		}
        .slider__btn {
            top: 90%;
            color: inherit;
            font-size: 18px;
            font-family: Roboto, sans-serif;
            background-color: transparent;
            span {
                transition: color 1s;
            }
            svg {
                path {
                    transition: stroke 1s;
                }
            }
            &-prev {
                left: unset;
                right: 180px;
                span {
                    margin-right: 8px;
                }
            }
            &-next {
                left: unset;
                right: 30px;
                span {
                    margin-left: 8px;
                }
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .wrapper-cart-project_tile .header-cart,
    .wrapper-cart-project_tile .description-cart {
        position: unset;
        bottom: unset;
        font-size: 30px;
    }
}